@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--main-bg-clr: #2c2d30;
	--main-text-clr: white;
	--text-clr-for-options: black;
	--inputs-border-clr: gray;
	--box-shadow-clr: white;
}

body {
	margin: 0;
	top: 0;
	padding: 0;

	color: var(--main-text-clr);
	background-color: var(--main-bg-clr);

	font-family: "Roboto", sans-serif;
}

input {
	-webkit-appearance: none;
	background-color: inherit;
	outline: none;
	border: none;
}

label {
	background-color: var(--main-bg-clr);
}

label select {
	background-color: inherit;
	outline: none;
	border: none;
}

#container {
	width: 100vw;
	height: 100vh;
}

.exchange__window__wrapper {
	height: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.transparent__from__currency {
	display: block;
	font-size: 16px;
	opacity: 0.5;
}

.transparent__to__currency {
	display: block;
	margin-top: 20px;

	font-size: 45px;
}

#inputs__section {
	width: fit-content;
	height: fit-content;

	margin-top: 50px;

	display: flex;
	gap: 15px;
}

#inputs__wrapper {
	width: fit-content;
	height: fit-content;

	display: flex;
	justify-content: center;
	flex-flow: wrap column;
	gap: 10px;
}

#labels__wrapper {
	width: fit-content;
	height: fit-content;

	display: flex;
	justify-content: center;
	flex-flow: wrap column;
	gap: 10px;
}

#labels__wrapper label select {
	width: 180px;
	height: 44px;

	color: var(--main-text-clr);
	border: 1px solid var(--inputs-border-clr);
	box-shadow: 0 0 2px var(--box-shadow-clr);
}

#inputs__wrapper input {
	width: 150px;
	height: 40px;

	font-size: 20px;

	color: var(--main-text-clr);
	border: 1px solid var(--inputs-border-clr);
	box-shadow: 0 0 2px var(--box-shadow-clr);
}
